/*=========colors=========*/
.cdx-color { /*default - yellow*/
	color: #374151;
}

.cdx-color__grey {
  color: rgba(55, 53, 47, 0.6);
}

.cdx-color__yellow {
  color: rgb(223, 171, 1);
}

.cdx-color__red {
  color: rgb(224, 62, 62);
}

.cdx-color__green {
	color: rgb(15, 123, 108);
}

.cdx-color__blue {
	color: rgb(11, 110, 153);
}

.cdx-color__brown {
	color: rgb(100, 71, 58);
}

.cdx-color__purple {
	color: rgb(105, 64, 165);
}

.cdx-color__orange {
  color: rgb(217, 115, 13);
}

/*=========colors=========*/




/*========pallette=======*/
.cdx-color-button {
	position: relative;
}

.cdx-color-hide {
	display: none !important;
}

.cdx-color-pallette {
	display: block;
	height: 100%;
}

.cdx-color-pallette > div {
	min-width: 240px;
	max-width: calc(100vw - 24px);
	height: 28px;

	cursor: pointer;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: background 20ms ease-in 0s;
}

.cdx-color-pallette > div:hover {
	background: rgba(55, 53, 47, 0.08);
}

.cdx-color-pallette > div > .cdx-color-pallette-color {
	margin-left: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cdx-color-pallette > div > .cdx-color-pallette-color > div {
	width: 22px;
	height: 22px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	border-radius: 3px;
	font-weight: 500;
	box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px inset;
	padding: 0 !important;
}

.cdx-color-pallette > div > .cdx-color-pallette-name {
	margin: 0 14px 0 8px;
	white-space: nowrap;
	text-overflow: ellipsis;

	color: black !important;
	font-size: 14px;
	text-transform: capitalize;
}