/*=========colors=========*/
.cdx-marker { /*default - yellow*/
	background: rgb(251,243,219);
  padding: 3px 0;
}

.cdx-marker__red {
  background: rgb(251,228,228);
	padding: 3px 0;
}

.cdx-marker__green {
	background: rgb(221,237,234);
	padding: 3px 0;
}

.cdx-marker__blue {
	background: rgb(221,235,241);
	padding: 3px 0;
}

.cdx-marker__brown {
	background: rgb(233,229,227);
	padding: 3px 0;
}

.cdx-marker__purple {
	background: rgb(234,228,242);
	padding: 3px 0;
}

/*=========colors=========*/




/*========pallette=======*/
.cdx-marker-button {
	position: relative;
}

.cdx-marker-hide {
	display: none !important;
}

.cdx-marker-pallette {
	max-width: calc(100vw - 24px);

	position: absolute;
	top: calc(100% + 5px);
	left: 25px;

	min-width: 240px;
	min-height: 70px;

	display: grid;
	grid-template-columns: 28px;
	grid-template-rows: auto;

	box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
	border-radius: 3px;
	background: white;

	padding: 6px 0;
}

.cdx-marker-pallette > div {
	min-width: 240px;
	max-width: calc(100vw - 24px);
	height: 28px;

	cursor: pointer;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: background 20ms ease-in 0s;
}

.cdx-marker-pallette > div:hover {
	background: rgba(55, 53, 47, 0.08);
}

.cdx-marker-pallette > div > .cdx-marker-pallette-color {
	margin-left: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cdx-marker-pallette > div > .cdx-marker-pallette-color > div {
	width: 22px;
	height: 22px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	border-radius: 3px;
	font-weight: 500;
	box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px inset;
	color: black !important;
	padding: 0 !important;
}

.cdx-marker-pallette > div > .cdx-marker-pallette-name {
	margin: 0 14px 0 8px;
	white-space: nowrap;
	text-overflow: ellipsis;

	color: black !important;
	font-size: 14px;
	text-transform: capitalize;
}